:root {
  /* Colors */
  --color-background-default: #ffffff;
  --color-background-search: rgba(235, 235, 235, 0.3);
  --color-background-attention: #ff0000;
  --color-background-badge: rgba(0, 0, 0, 0.3);

  --color-text-white: #ffffff;
  --color-text-light: #c2c2c2;
  --color-text-default: #898989;
  --color-text-dark: #000000;
  --color-text-hover: #ff0000;
  --color-text-placeholder: rgba(48, 56, 76, 0.4);
  --color-border-default: #f1f1f1;

  /* Spacing / Offsets */
  --footer-h: 44px;
  --header-h: 84px;
  --sidebar-w: 223px;
  --footer-mobile-h: 70px;
}
